.cardabout{
    box-shadow: 0px 0px 15px 10px rgb(213, 185, 209);
}

/* .bg-image{
    background-image: url(../../img/knittingjpg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    height: 700px;
    width: 100%;
    position: relative;
} */