.CartSidebar {
  min-width: 250px;
  position: relative;

}

.sidebar-content{
    position: sticky;
    top: 80px;
    left: 0;
    right: 0;
}


.order.btn {
  background-color: #f92e9e;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.order.btn:hover {
  background-color: #d92586;
}
